body {
    background-color: #0d0616;
    color: #0d0616; 
    overflow-x: hidden;
    padding-top:  2%;
    font-family: "basic-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* image */
.playimage {
    max-height: 500px;
    align-content: bottom;
}

/* bg/buttons and text styling */
#greet, .playerscores, #results {
    background-color:#f3eaff;
    color: #0d0616;
    border-radius: 20px;
}

button {
    background-color:#f3eaff !important;
    color: #391b61 !important;
    border-radius: 20px !important;
    border: 1px double #391b61 !important;
    transition: .5s !important;
}

button:hover {
    background-color:#e8d6ff !important;
    color: #7134c0 !important;
    border-radius: 10px !important;
    border: 2px double #7134c0 !important;
    box-shadow: #f3eaff 0px 0px 20px !important;
}

.versus {
    padding-top: 50%;
    padding-bottom: 50%;
}

h1 {
    color: white;
    font-family: "blakely", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
}